$green-p3-coordinates: 0.118 0.966 0.702;

:root {
  color-scheme: dark;

  // Neutral palette
  --deep-black-rgb: 03 00 12; --color-deep-black: rgb(var(--deep-black-rgb)); // note: update colors in root layout meta tags if you change this
  --black-rgb: 33 33 36; --color-black: rgb(var(--black-rgb));
  --neutral-rgb: 132 126 143; --color-neutral: rgb(var(--neutral-rgb));
  --white-rgb: 255 255 255; --color-white: rgb(var(--white-rgb));
  --off-white-rgb: 249 248 252; --color-off-white: rgb(var(--off-white-rgb));

  // Color palette
  --green-srgb: 20 235 185;
  --color-green: rgb(var(--green-srgb));
  --green-p3: #{$green-p3-coordinates};
  @supports (color: color(display-p3 1 1 1 / 1)) {
    --color-green: color(display-p3 var(--green-p3));
  }

  // Semantic color palette
  --background: var(--color-deep-black);
  --accent: var(--color-green);

  --text-primary-rgb: 247 247 248;
  --color-text-primary: rgb(var(--text-primary-rgb));
  --color-text-secondary: rgb(var(--text-primary-rgb) / 0.82); // #cbcace
  --color-text-subtle: rgb(var(--text-primary-rgb) / 0.6); // #959499
  --color-text-subtlest: rgb(var(--text-primary-rgb) / 0.33); // # 504f54
}
