@use 'styles/utils';

@use './reset';
@use './typography-imports';
@use './typography';
@use './layout';
@use './colors';

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: color(display-p3 #{colors.$green-p3-coordinates} / 0.999);
  color: #000;
  -webkit-text-fill-color: #000;
}
svg text ::selection { fill: #000; }

:root { -webkit-tap-highlight-color: color(display-p3 #{colors.$green-p3-coordinates} / 0.2); }
