@use 'styles/utils';

@use './reset';
@use './typography-imports';
@use './typography';
@use './layout';

body {
  background: utils.$color-deep-black;
  color: white;
}

:root {
  --green: #{utils.$color-green};

  --max-content-width: 60rem;
}
