@use 'styles/utils';
@use 'sass:color';

.base {
  @include utils.layout-container;
  padding-top: 6rem;
  padding-bottom: 6rem;
  --max-content-width: 60ch;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    margin-bottom: 3rem;
  }
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem 2rem;
  margin-left: -5rem;
  margin-right: -5rem;
  flex-wrap: wrap;

  background-image: linear-gradient(155deg, rgba(20,235,185,1) 18%, rgba(94,59,255,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  .statistic {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    & > :first-child {
      font-weight: 800;
      font-size: 2.5rem;
      flex: 0 0 auto;
    }

    .description {
      text-align: left;
      width: auto;
      white-space: pre;
      flex: 0 0 auto;
    }
  }
}
