@use 'styles/utils';
@use 'sass:color';

.base {
  @include utils.layout-container;
  max-width: calc(40ch + var(--horizontal-padding) * 2);
  margin: 0 auto;
  padding: 3rem 0;

  .preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 3rem;
    padding: 0 1rem;

    @include utils.media-mobile {
      grid-template-columns: 1fr;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 1.5rem 0;

    h4 {
      margin-top: 0.5rem;
    }

    p {
      color: var(--color-neutral);
      font-size: 0.8em;
    }

    .image {
      width: 100%;
      aspect-ratio: 3 / 2;
      position: relative;

      img {
        object-fit: cover;
      }
    }
  }
}
