@use 'styles/utils';

.base {
  display: flex;
  
  text-align: left;
  padding-top: 5vh;
  
  // background-color: red;

  .number {
    font-size: 3em;
  }
  
  .description {
    text-align: left;
    padding-left: 10px; 
    margin: auto;
    // width: 9rem; 
    white-space: pre-wrap;
  }
}
