@use 'styles/utils';

.base {
  display: contents;
  --stroke: var(--page-frame-width);
  --position: var(--page-frame-margin);
  --radius: var(--page-frame-radius);
  pointer-events: none;

  .frame,
  .backdrop {
    display: contents;

    &::before,
    &::after {
      content: '';
      display: block;
      left: var(--position);
      right: var(--position);
      --height: calc(0.8 * (var(--full-height) - var(--position) - var(--nav-height)));
      height: var(--height);
      border-radius: var(--radius);
    }
    &::before {
      position: fixed;
      top: var(--nav-height);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &::after {
      position: sticky;
      margin-left: var(--position);
      margin-right: var(--position);
      bottom: var(--position);
      margin-top: calc(-1 * var(--height));
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .frame {
    &::before,
    &::after {
      z-index: 9000;
      // fake a border using a background to get richer color
      // https://bugs.chromium.org/p/chromium/issues/detail?id=1439859
      background-color: var(--accent);
      padding: var(--stroke);
      mask: linear-gradient(black, black) content-box,
            linear-gradient(black, black);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    &::before { padding-bottom: 0; clip-path: inset(0px 0px 1px 0); }
    &::after { padding-top: 0; clip-path: inset(1px 0px 0px 0px); }
  }

  .backdrop {
    &::before,
    &::after {
      z-index: 9001;
      --spread: calc(max(var(--nav-height), var(--position)) * 2);
    }
    &::before {
      box-shadow: 0 calc(-1 * (var(--spread) + 1px)) 0 var(--spread) var(--background);
    }
    &::after {
      box-shadow: 0 calc(var(--spread) + 1px) 0 var(--spread) var(--background);
    }
  }
}
