@use 'styles/utils';

.base {
  display: contents;
  --stroke: var(--page-frame-width);
  --position: var(--page-frame-margin);
  --radius: var(--page-frame-radius);
  pointer-events: none;

  .trbl {
    display: contents;
  }

  .corner,
  .border {
    --size: calc(4 * var(--radius));
    --margin: calc(-0.5 * var(--size));
    --pos: calc(var(--position) + var(--stroke) / 2);
    position: fixed;
    z-index: 9900;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      path {
        vector-effect: non-scaling-stroke;
        stroke-width: var(--page-frame-width);
        stroke: var(--accent);
        fill: none;
      }
    }
  }

  .corner {
    width: var(--size);
    height: var(--size);

    svg.corner-line {
      z-index: 2;
    }

    svg.corner-cover path {
      stroke: none;
      fill: var(--background);
      z-index: 1;
    }


    &:nth-child(1), &:nth-child(2) { top: var(--nav-height); top: #{round}(down, var(--nav-height), 1px); margin-top: var(--margin); }
    &:nth-child(3), &:nth-child(4) { bottom: var(--pos); margin-bottom: var(--margin); }
    &:nth-child(1), &:nth-child(4) { left: var(--pos); margin-left: var(--margin); }
    &:nth-child(2), &:nth-child(3) { right: var(--pos); margin-right: var(--margin); }

    &:nth-child(1) { transform: scaleY(-1); }
    &:nth-child(2) { transform: scaleX(-1) scaleY(-1); }
    &:nth-child(3) { transform: scaleX(-1); }
    &:nth-child(4) { transform: none; }
  }

  .border {
    --pos-inset: calc(var(--pos) + var(--size) * 0.33);

    &:nth-child(1),
    &:nth-child(3) {
      left: var(--pos-inset);
      right: var(--pos-inset);
      height: var(--size);
    }
    &:nth-child(2),
    &:nth-child(4) {
      top: calc(var(--nav-height) + var(--size) / 2);
      bottom: var(--pos-inset);
      width: var(--size);
    }
    &:nth-child(1) { top: var(--nav-height); top: #{round}(down, var(--nav-height), 1px); margin-top: var(--margin); }
    &:nth-child(2) { right: var(--pos); margin-right: var(--margin); }
    &:nth-child(3) { bottom: var(--pos); margin-bottom: var(--margin); }
    &:nth-child(4) { left: var(--pos); margin-left: var(--margin); }

    &:nth-child(2) { transform: scaleX(-1); }
    &:nth-child(3) { transform: scaleY(-1); }

    rect {
      stroke: none;
      fill: var(--background);
    }
  }

  .color-wash {
    display: none;
  }
}


// chrome only *not* safari
@supports (-webkit-mask-repeat-y: inherit) {
  .base {
    .corner,
    .border {
      svg path {
        stroke: #fff;
      }
    }

    .color-wash {
      display: block;
      mix-blend-mode: multiply;
      position: relative;
      z-index: 9901;

      .green {
        &::before,
        &::after {
          content: '';
          position: fixed;
          left: calc(var(--position));
          right: calc(var(--position));
          height: 80vh;
          z-index: 9901;
          background-color: rgb(0 0 255 / 0.25);
          background-color: var(--accent);
          border-radius: calc(var(--radius) + var(--stroke) / 2);
        }
        &::before {
          top: calc(var(--nav-height) - var(--stroke) / 2);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &::after {
          bottom: var(--position);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      .white {
        &::before,
        &::after {
          content: '';
          position: fixed;
          left: calc(var(--position) + var(--stroke));
          right: calc(var(--position) + var(--stroke));
          z-index: 9902;
          height: calc((100vh - var(--nav-height) - var(--stroke) - var(--radius)) * 0.8);
          background-color: #fff;
          border-radius: calc(var(--radius) - var(--stroke) / 2);
        }
        &::before {
          top: calc(var(--nav-height) + var(--stroke) / 2);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &::after {
          bottom: calc(var(--position) + var(--stroke));
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
