@use 'styles/utils';
@use 'sass:color';

.base {
  padding: 3rem 0;
  --max-content-width: 50ch;
  @include utils.layout-container;

  .preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 2rem;
    margin: 1rem 0;

    @include utils.media-mobile {
      grid-template-columns: 1fr 1fr;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    justify-content: center;

    h4 {
      margin-top: 0.5rem;
    }

    p {
      color: var(--color-neutral);
      font-size: 0.8em;
    }

    .image {
      width: 100%;
      aspect-ratio: 1;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    .name {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;

      .role {
        font-weight: bold;
      }
    }
  }
}
