@use 'styles/utils';

$nav-height: 4rem;
$nav-margin: 3rem;

.base {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  --horizontal-padding-for-max-width: calc((100vw - #{utils.$layout-max-container-width}) / 2);
  --horizontal-normal-padding: calc(#{utils.layout-capped-vw(4)} + 1.5rem);
  --horizontal-padding: max(var(--horizontal-normal-padding), var(--horizontal-padding-for-max-width));
  @include utils.media-smallest {
    --horizontal-padding: max(5vw, 1rem);
  }

  --nav-height: #{$nav-height + $nav-margin};

  padding: var(--nav-height) var(--horizontal-padding) 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: $nav-height;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
