@use 'styles/utils';

.base {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;

  .heading {
    max-width: 25rem;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .list {
    list-style-type: decimal;
    max-width: 60ch;

    h3 {
      @include utils.type-h5;
      color: utils.$color-white;
    }

    & > :not(:last-child) {
      margin-bottom: 0.5em;
    }

    li {
      & > :not(:first-child) {
        color: utils.$color-neutral;
      }
      & > :not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }
}
