$deep-black: rgb(10, 10, 12);
$black: rgb(33, 33, 36);
$green: rgb(20, 235, 185);
$purple: rgb(94, 59, 235);
$neutral: rgb(132, 126, 143);
$neutral-700: #190F34;
$neutral-400: #CCC8D3;
$white: rgb(255, 255, 255);
$green-muted: #A8C6BB;
$deep-purple: rgb(25, 15, 52);
$off-white: #F9F8FC;
