$deep-black: rgb(10, 10, 12);
$black: rgb(33, 33, 36);
$green: rgb(20, 235, 185);
$purple: rgb(94, 59, 235);

$green-500: #32C89E;
$green-650: #1FA781;
$green-600: #2BB78F;
$green-300: #ACEFD7;

$neutral-900: #05000D;
$neutral-800: #0B001C;
$neutral-700: #190F34;
$neutral-600: #383444;
$neutral-500: #847E8F;
$neutral-400: #CCC8D3;
$neutral-300: #E0DCE8;
$neutral-200: #F2F0F5;
$neutral-100: #F9F8FC;
$neutral-0: #FFFFFF;

$dark-green-500: #21342D;
$dark-green-400: #2D453C;
$dark-green-300: #2D453C;

$purple-500: #5E3BEB;
$purple-600: #4726CB;
$purple-650: #3A1FA7;