// use a vw value that stops growing when the container stops growing (at --max-content-width)
@function capped-vw($vw) {
  @return min(#{$vw} * 1vw, #{$vw} * var(--max-content-width) / 100);
}

// Add padding to a full-width (100vw) container to keep its contents within comfortable bounds
@mixin container {
  --horizontal-padding-for-max-width: calc((100vw - var(--max-content-width)) / 2);
  --horizontal-normal-padding: calc(#{capped-vw(1)} + 1rem);
  --horizontal-padding: max(var(--horizontal-normal-padding), var(--horizontal-padding-for-max-width));
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}

@mixin full-bleed {
  margin-left: calc(-1 * var(--horizontal-padding));
  margin-right: calc(-1 * var(--horizontal-padding));
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}
