@use 'styles/utils';
@use 'sass:math';
@use 'sass:color';

.base {
  padding: 6rem 0;
  --max-content-width: 50ch;
  @include utils.layout-container;
  display: flex;
  flex-direction: column;

  .back {
    color: var(--color-green);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 0.15rem;
    font-size: 0.85rem;
    margin-bottom: 1rem;

    &::before {
      $size: 0.6em;
      margin-left: $size * (math.sqrt(2) - 1) / 2;
      content: '';
      display: inline-block;
      margin-right: 0.5em;
      width: $size;
      height: $size;
      transform: rotate(45deg);
      border-left: 0.125em solid var(--color-green);
      border-bottom: 0.125em solid var(--color-green);
    }
  }

  .heading-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    content: '';
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    height: 0.15rem;
    background: rgb(var(--neutral-rgb) / 0.25);
    border: 0;
    border-radius: 100vmax;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }

  .description {
    margin-bottom: 1rem;
    & > :first-child {
      margin-top: 0;
    }
  }

  .button {
    background: var(--color-green);
    color: var(--background);
    padding: 0.5em 1em calc(0.5em + 1px);
    font-weight: 600;
    border-radius: 0.25rem;
    display: block;
    align-self: center;
    text-decoration: none;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    @include utils.type-h3;
  }

  h3 {
    @include utils.type-h4;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  h4 {
    @include utils.type-h5;
  }

  p {
    line-height: 1.4;
    color: rgb(var(--white-rgb) / 0.9);
  }

  p + p {
    margin-top: 1em;
  }
}
