@use 'styles/utils';

.base {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  background: utils.$color-deep-purple;
  align-items: center;
  height: 472px;
  @include utils.layout-full-bleed;

  .contact-col {
    display: flex;
    gap: 28px;
    flex-direction: column;
    align-content: space-between;
  }
  .groups {
    display: flex;
    flex-direction: row;
  }

  .group {
    display: flex;
    gap: 8px;
    padding: 77px;
    flex-direction: column;

    h3 {
      @include utils.type-h5;
    }

    a {
      color: utils.$color-green;
      display: flex;
    }
  }

  button {
    background-color: utils.$color-green;
    color: utils.$color-deep-black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 24px 10px;
    width: 136px;
    height: 42px;
    left: 164px;
    top: 305px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
