@use 'styles/utils';
@use 'sass:color';

.base {
  @include utils.layout-full-bleed;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: rgb(var(--neutral-rgb) / 0.2);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 0.75rem;
    color: rgb(var(--white-rgb) / 0.75);
  }

  label {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-weight: bold;

    input {
      font: inherit;
      font-weight: 400;
      background-color: var(--color-white);
      color: var(--color-black);

      padding: 0.5em 0 0.5em 0.75em;
      margin-block: 0.25rem 1rem;
      border-radius: 2px;

      &::placeholder {
        color: rgb(var(--black-rgb) / 0.4);
      }

      &[type="submit"] {
        background-color: var(--color-green);
        color: var(--background);
        border: 0;
        &:not(:focus-visible) { outline: 0; }
        border-radius: 4px;
        font-size: inherit;
        font-weight: 700;
        padding: 0.75em 1.25em;
        align-self: center;
      }
    }
  }


}
