$logo-width: 300px;

.clientLogo {
  max-height: 80px;
  width: $logo-width;
  margin: 10px;
  position: absolute;
  filter: grayscale(100%) sepia(120%) hue-rotate(120deg);
  transition: 0.2s;
}

.clientLogo:hover {
  filter: grayscale(0);
}
