@use 'styles/utils';
@use 'sass:color';

.base {
  margin-top: 2rem;
  padding: 5rem 0;
  background-image: radial-gradient(
    farthest-side ellipse at 90% 110%,
    color(display-p3 var(--green-p3) / 0.17) 0%,
    color(display-p3 var(--green-p3) / 0.02) 100%
  );

  @include utils.layout-container;
  @include utils.layout-twelve-columns;
  align-items: center;
  gap: 2rem;


  .primary {
    grid-column: content-left-edge / span 5;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      margin-top: -0.25em;
    }

    p {
      @include utils.type-h4;
      width: 90%;
    }

    .button {
      background: var(--color-green);
      color: var(--color-black);
      padding: 0.5em 1em calc(0.5em + 1px);
      font-weight: 600;
      border-radius: 0.25rem;
      display: inline-block;
      box-sizing: border-box;
      text-decoration: none;
      align-self: flex-start;
      margin-top: 0.5rem;
    }
  }

  .item {
    grid-column-end: span 3;
    grid-column-start: 7;
    & + .item { grid-column-start: auto; }
    font-size: max(15px, 0.85rem);
    text-decoration: none;

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    svg {
      width: 3.5rem;
      height: 3.5rem;
      opacity: 0.35;
      mix-blend-mode: plus-lighter;
      margin-bottom: 0.5rem;
      flex: 0 0 auto;
      transition: opacity 0.2s ease;

      [stroke-width] {
        stroke-width: 12;
        stroke: currentColor;
      }
    }

    h3 {
      font-size: inherit;
      font-weight: 600;
      font-size: 1.15em;
    }

    .link {
      @include utils.type-body-2;
      color: var(--color-green);
      width: fit-content;
      font-weight: 500;
      display: flex;
      margin-top: 0.25rem;

      &::after {
        content: "\2192";
        margin-left: 0.25rem;
        display: block;
        transition: transform 0.15s ease;
      }
    }

    &:hover,
    &:focus {
      svg {
        opacity: 0.45;
      }
      .link::after {
        transform: translate(0.15rem);;
      }
    }
  }
}


@include utils.media-mobile {
  .base {
    --max-content-width: 40ch;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: stretch;

    .item {
      display: flex;
      gap: 2rem;

      svg {
        order: 2;
      }
    }
  }
}
