@use 'styles/utils';
@use 'sass:color';

.base {
  margin-top: 2rem;
  padding: 5rem 0;
  background-image: radial-gradient(
    farthest-side ellipse at 90% 110%,
    color(display-p3 var(--green-p3) / 0.17), color(display-p3 var(--green-p3) / 0.02)
  );

  @include utils.layout-container;
  --max-content-width: 85ch;

  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;

  @include utils.media-mobile {
    flex-direction: column;
    align-items: stretch;
  }


  .primary {
    flex-basis: 40%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      margin-top: -0.25em;
    }

    p {
      @include utils.type-h4;
      width: 90%;
    }

    .button {
      background: var(--color-green);
      color: var(--color-black);
      padding: 0.5em 1em calc(0.5em + 1px);
      font-weight: 600;
      border-radius: 0.25rem;
      display: inline-block;
      box-sizing: border-box;
      text-decoration: none;
      align-self: flex-start;
      margin-top: 0.5rem;
    }

    @include utils.media-mobile {
      align-items: center;
    }
  }

  .item {
    flex-basis: 25%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    svg {
      width: 3.5rem;
      height: 3.5rem;
      opacity: 0.35;
      mix-blend-mode: plus-lighter;

      [stroke-width] {
        stroke-width: 12;
        stroke: currentColor;
      }
    }

    p {
      @include utils.type-body-2;
    }

    & > a {
      @include utils.type-body-2;
      color: var(--color-green);
      width: fit-content;
      font-weight: 500;
      display: flex;
      text-decoration: none;
      margin-top: 0.25rem;

      &::after {
        content: "\2192";
        margin-left: 0.25rem;
        display: block;
        transition: transform 0.1s ease;
      }

      &:hover::after {
        transform: translate(0.15rem);;
      }
    }
  }
}
