@use 'styles/utils';
@use 'sass:color';

.base {
  padding-top: 4.75rem;
  padding-bottom: 5rem;

  @include utils.layout-container;
  @include utils.layout-twelve-columns;

  background-image: radial-gradient(
    farthest-corner ellipse at 90% 110%,
    rgb(var(--green-srgb) / 0.12) 10%,
    rgb(var(--green-srgb) / 0.025) 65%,
    rgb(var(--green-srgb) / 0.01) 100%
  ), linear-gradient(
    120deg,
    rgb(var(--green-srgb) / 0.03) 10%,
    rgb(var(--green-srgb) / 0.01) 50%
  );
  @supports (color: color(display-p3 1 1 1 / 1)) {
    background-image: radial-gradient(
      farthest-corner ellipse at 90% 110%,
      color(display-p3 var(--green-p3) / 0.12) 10%,
      color(display-p3 var(--green-p3) / 0.025) 65%,
      color(display-p3 var(--green-p3) / 0.01) 100%
    ), linear-gradient(
      120deg,
      color(display-p3 var(--green-p3) / 0.03) 10%,
      color(display-p3 var(--green-p3) / 0.01) 50%
    );
  }


  .primary {
    grid-column: content-left-edge / span 5;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      margin-top: -0.1em;
      line-height: 1;
    }

    p {
      @include utils.type-h4;
      width: 90%;
    }

    .button {
      background: var(--color-green);
      color: var(--color-black);
      padding: 0.5em 1em calc(0.5em + 1px);
      font-weight: 600;
      border-radius: 0.25rem;
      display: inline-block;
      box-sizing: border-box;
      text-decoration: none;
      align-self: flex-start;
      margin-top: auto;
    }
    p:last-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .item {
    grid-column-end: span 3;
    grid-column-start: 7;
    &:where(.item + .item) { grid-column-start: auto; padding-left: 0.5rem; }
    &:where(:not(:last-child)) { padding-right: 0.5rem; }
    font-size: max(15px, 0.85rem);
    text-decoration: none;

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    svg {
      width: 3.5rem;
      height: 3.5rem;
      opacity: 0.35;
      mix-blend-mode: plus-lighter;
      margin: -0.25rem 0 0.5rem;
      flex: 0 0 auto;
      transition: opacity 0.15s ease;

      [stroke-width] {
        stroke-width: 12;
        stroke: currentColor;
      }
    }

    h3 {
      font-size: inherit;
      font-weight: 600;
      font-size: 1.15em;
    }

    .link {
      @include utils.type-body-2;
      color: var(--color-green);
      width: fit-content;
      font-weight: 500;
      display: flex;
      margin-top: 0.25rem;

      &::after {
        content: "\2192";
        margin-left: 0.25rem;
        display: block;
        transition: transform 0.15s ease;
      }
    }

    &:hover,
    &:focus {
      svg {
        opacity: 0.55;
      }
      .link::after {
        transform: translate(0.15rem);
      }
    }
  }
}


@include utils.media-mobile {
  .base {
    row-gap: 1.5rem;

    .primary {
      grid-column: content-left-edge / span 6;
      grid-row: 1 / span 2;

      h2 {
        margin-top: 0;
      }

      .button {
        margin-top: auto;
      }
    }

    .item {
      grid-column: span 5 / content-right-edge;
      display: flex;
      gap: 2rem;
      padding: 0;

      svg { display: none; }
    }
  }
}

@include utils.media-smallest {
  .base {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: stretch;
    padding-top: 4rem;

    .item {
      svg {
        display: block;
        order: 2;
        margin-left: auto;
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }
}
