@use 'styles/utils';

.base {
  display: flex;
  justify-content: space-between;

  background: var(--background);

  @include utils.layout-container;
  height: calc(var(--nav-height) - var(--page-frame-width));

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;

    &.active {
      box-shadow: 0 4px 0 0 var(--background),
                  0 6.5px 0 0 var(--color-green);
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;

    svg {
      width: 1.5rem;
      height: auto;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
    }

    span > span {
      color: var(--color-green);
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 3ch;
    font-weight: 500;
    font-size: 1rem;
  }
}
