@use 'styles/utils';

.base {
  display: flex;
  justify-content: space-between;

  background: var(--background);

  @include utils.layout-container;
  height: 3.5rem;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);

  a {
    text-decoration: none;
    color: inherit;

    &.active {
      box-shadow: 0 4px 0 0 var(--background),
                  0 6.5px 0 0 var(--color-green);
    }
  }

  .links {
    .link:hover,
    .link:focus {
      background-image: linear-gradient(155deg, var(--color-green) 18%, rgba(94, 59, 255, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;

    svg {
      width: 1.5rem;
      height: auto;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
    }

    span > span {
      color: var(--color-green);
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 3ch;
    font-weight: 500;
    font-size: 1rem;
  }
}
