@use 'styles/utils';

.base {
  display: flex;
  justify-content: space-between;

  background: var(--background);

  @include utils.layout-container;
  height: var(--nav-height);

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;

    &.active {
      box-shadow: 0 4px 0 0 var(--background),
                  0 6.5px 0 0 var(--color-green);
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 680;
    font-size: 1.2rem;
    font-variation-settings: 'opsz' 32;
    letter-spacing: -0.02em;
    * { letter-spacing: inherit; }

    svg {
      width: 1.5rem;
      height: auto;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
    }

    span > span {
      color: var(--color-green);
      // workaround pending https://bugs.chromium.org/p/chromium/issues/detail?id=1439859
      @supports (-webkit-background-clip: text) {
        background-color: var(--color-green);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 3ch;
    font-weight: 500;
    font-size: 1rem;
  }
}
